{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<!-- No intend here !!! -->
<f:section name="Plaintext">
	<vh:frontend.translate key="templates_email_userDeleteMail.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwConsultant"  arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}"/>

	<vh:frontend.translate key="templates_email_userDeleteMail.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwConsultant" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName, 2: frontendUser.uid}"/>

	<f:render partial="Email/Details" section="Plaintext" arguments="{account: consultant, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_userDeleteMail.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwConsultant" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}"/></h1>
	<p><vh:frontend.translate key="templates_email_userDeleteMail.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwConsultant" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName, 2: frontendUser.uid}" /></p>

	<f:render partial="Email/Details" section="Html" arguments="{account: consultant, language: frontendUser.txRkwregistrationLanguageKey}"/>

</f:section>

